body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-306px;
  width:165px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:141px;
  width:165px;
  height:29px;
  display:flex;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3001px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:170px;
  width:1px;
  height:3000px;
  display:flex;
  -webkit-transform:rotate(-0.111900820593104deg);
  -moz-transform:rotate(-0.111900820593104deg);
  -ms-transform:rotate(-0.111900820593104deg);
  transform:rotate(-0.111900820593104deg);
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:279px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:215px;
  width:27px;
  height:279px;
  display:flex;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:180px;
  width:70px;
  height:69px;
  display:flex;
}
#u653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:156px;
  background:inherit;
  background-color:rgba(0, 191, 191, 0.949019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:285px;
  width:19px;
  height:156px;
  display:flex;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:61px;
  height:61px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:259px;
  width:51px;
  height:52px;
  display:flex;
}
#u655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:207px;
  width:41px;
  height:15px;
  display:flex;
}
#u656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
